{% extends 'base.html.j2' %}

{% block title %}Tags AI{% endblock %}

{% block content %}
<!-- Youtube query-->
<div class="row">
    <div class="fixed-div d-none d-xxl-block">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-center" href="#YoutubeTags">TAGS AI</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link my-1" href="#YoutubeQuery">Querry</a>
                    <a class="nav-link my-1" href="#ChannelList">Channels</a>
                    <a class="nav-link my-1" href="#DownloadSet">Get Videos</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#Concat">&#x25CF; Concat</a>
                        <a class="nav-link ms-3 my-1" href="#DataSet">&#x25CF; Dataset</a>
                    </nav>
                    <a class="nav-link my-1" href="#CleanData">Clean Data</a>
                    <a class="nav-link my-1" href="#Accuracy">Accuracy</a>
                    <a class="nav-link my-1" href="#Timeline">Timeline</a>
                    <a class="nav-link my-1" href="#Generate">Generate</a>
                    <nav class="nav nav-pills flex-column">
                        <!--<a class="nav-link ms-4 my-1" href="#Tags">Tags</a>-->
                        <a class="nav-link ms-3 my-1" href="#LogisticRegression">&#x25CF; Logistic Regression</a>
                        <a class="nav-link ms-3 my-1" href="#RandomForest">&#x25CF; Random Forest</a>
                    </nav>
                    <a class="nav-link my-1" href="#SaveAs">Collection</a>
                </nav>
            </nav>
        </nav>
    </div>
</div>

<div class="container" id="YoutubeTags" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <div class="row">
        <div class="mx-auto text-center">
            <a href="./">
                <img class="img-fluid col-6" src="{{url_for('static', filename='logo.png')}}">
            </a>
        </div>
    </div>
    <div class="row" id="YoutubeQuery">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Youtube Query</h1>
            <form id="taskForm" class="row g-2" action="/processSearchForYoutubeChannels" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="Cute Cats" class="form-control form-control-lg" type="text" name="YoutubeQuery" id="YoutubeQuery" required>
                        <label for="YoutubeQuery">Your youtube querry</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control form-control-lg" type="number" name="PagesNumber" id="PagesNumber" required>
                        <label for="PagesNumber">Load number of pages:</label>
                    </div>
                </div>

                <div class="form-check form-switch d-flex align-items-center h-100">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="ReplaceChannel" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        &nbsp;Delete previous channels
                    </label>
                </div>

                <input class="btn btn-primary btn-lg" type="submit" value="Search Channels">
            </form>
        </div>
    </div>

    <!-- Youtube channels list-->
    <div class="row" id="ChannelList">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Name Youtube Channels</h1>
            <form class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="YourYoutubeChannel" placeholder="https://www.youtube.com/@YourChannelName" class="form-control form-control-lg" type="text" id="text-input" placeholder="Enter text">
                        <label for="YourYoutubeChannel">https://www.youtube.com/@YourChannelName</label>
                    </div>
                </div>
                <div class="col-md">
                    <button class="add-button btn btn-primary btn-lg w-100 h-100" type="button">Add</button>
                </div>
            </form>
            <h2>Data:</h2>
            {% if channels %}
                <ul id="ChannelListContent" class="columns-container">
                    {% for item in channels %}
                        <li>
                            <button type="button" class="btn-close remove-button" aria-label="Close" data-index="{{ loop.index0 }}"></button> 
                            <a href=" {{ item[0] }} " target="_blank">{{ item[0].split('/')[-1] }}</a>
                            {% if item[0].split('/')[-1] in DownloadedChannels %} 
                                <span style="color: green;">(Downloaded)</span>
                            {% else %}
                                <span style="color: red;">(Not downloaded)</span>
                            {% endif %}
                        </li> 
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Channel list is empty.</h3>
            {% endif %}
        </div>
    </div>

    <div class="row" id="DownloadSet">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Download set</h1>
            <form class="row g-2" id="taskForm" action="/processSearchForYoutubeVideos" method="POST">
                <div class="col-5">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control" type="number" name="PagesNumber" id="PagesNumber" required>
                        <label for="PagesNumber">Search pages:</label>
                    </div>
                </div>

                <div class="form-check form-switch d-flex align-items-center h-100">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="ReplaceCSV">
                    <label class="form-check-label" for="flexCheckDefault">
                        &nbsp;Replace existing data
                    </label>
                </div>

                <input class="btn btn-primary btn-lg" type="submit" value="Download Video info">
            </form>
        </div>
    </div>

    <div class="row" id="Concat">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Concat channels</h1>
            <form class="row g-2" id="taskForm" action="/concatChannels" method="POST">
                <h2>List of downloaded data:</h2>
                {% if DownloadedChannels %}
                    <div class="columns-container margin20pxBottom">
                        <div>
                            {% for item in DownloadedChannels %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="{{ item }}" name="{{ item }}" checked>
                                <label class="form-check-label" for="{{ item }}">
                                    {{ item }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <h3>There is no downloaded channels.</h3>
                {% endif %}
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w-100" type="submit" value="Concat" name="Concat">
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w-100" type="submit" value="Delete" name="Delete">
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="DataSet">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Dataset</h1>
            {% if videos %}
                <button class="btn btn-outline-primary btn-lg w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Show/Hide
                </button>
                <div class="collapse" id="collapseExample">
                    <table class="table table-striped">
                        {% for row in videos %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <h3>Your dataset is empty.</h3>
            {% endif %}
        </div>
    </div>

    <div class="row" id="CleanData">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Clean data</h1>
            <form class="row g-2" id="taskForm" action="/processClean" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="4" class="form-control form-control-lg" type="number" name="DeleteColumnsWithOnly" id="DeleteColumnsWithOnly" value="4" required>
                        <label for="DeleteColumnsWithOnly">Delete tags that only have [...] or less videos</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="2" class="form-control form-control-lg" type="number" name="DeleteRowsWithOnly" id="DeleteRowsWithOnly" value="2" required>
                        <label for="DeleteRowsWithOnly">Delete videos with only [...] or less of tags</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="2.0" class="form-control form-control-lg" type="number" name="OutlinerPrecise" id="OutlinerPrecise" value="2.0" required>
                        <label for="OutlinerPrecise">Outliner Precise:</label>
                    </div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Clean data">
            </form>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <img src="/image?src=ViewsBefore.png" onerror="this.src='{{ url_for('static', filename='empty.png') }}';" alt="Image" class="w-100">
                </div>
                <div class="col-md-6">
                    <img src="/image?src=ViewsAfter.png" onerror="this.src='{{ url_for('static', filename='empty.png') }}';" alt="Image" class="w-100">
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="Accuracy">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Calculate Accuracy</h1>
            <h4>Precissly predicted amount of views using only tags and channel name</h4>
            <form class="row g-2" id="taskForm" action="/processCheckForAccuracy" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="50" class="form-control form-control-lg" type="number" name="StepSize" id="StepSize" value="1" required>
                        <label for="StepSize">Step size:</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="50" class="form-control form-control-lg" type="number" name="AcceptedError" id="AcceptedError" value="50" required>
                        <label for="AcceptedError">Accepted error:</label>
                    </div>
                </div>
                <div class="col-md">
                    <select name="ThreadsAmount" class="form-select h-100">
                        <option value="-1" selected>Max threads</option>
                        <option value="1">1 thread</option>
                        <option value="4">4 threads</option>
                        <option value="8">8 threads</option>
                        <option value="16">16 threads</option>
                        <option value="32">32 threads</option>
                    </select>
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg h-100 w-100" type="submit" value="Calculate error">
                </div>
            </form>
            {% if accuracy %}
                <table class="table table-striped">
                    {% for row in accuracy %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No accuracy data available.</h3>
            {% endif %}
        </div>
    </div>

    <div class="row" id="Timeline">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Timeline</h1>
            <form class="row g-2" id="taskForm" action="/processTimeline" method="POST">
                <input class="btn btn-primary btn-lg w-100 h-100" type="submit" value="Generate timeline">
            </form>
            <div>
                TODO: Timeline graph
            </div>
        </div>
    </div>

    <div class="row" id="Generate">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Find tags</h1>
            <form class="row g-2" id="taskForm" action="/processTags" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control form-control-lg" type="number" name="Amount" id="Amount" value="25" required>
                        <label for="Amount">Amount:</label>
                    </div>
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w-100 h-100" type="submit" value="Generate tags">
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="Tags">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Result</h1>
            <h2>Logistic Regression</h2>
            {% if resultsLogisticRegression %}
                <table id="LogisticRegression" class="table table-striped">
                    {% for row in resultsLogisticRegression %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No Logistic Regression data available.</h3>
            {% endif %}

            <h2>Random Forest</h2>
            {% if resultsRandomForest %}
                <table id="RandomForest" class="table table-striped">
                    {% for row in resultsRandomForest %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3>No Random Forest data available.</h3>
            {% endif %}
        </div>
    </div>
    <div class="row" id="SaveAs">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Favorite</h1>
            <form class="row g-2" id="taskForm" action="/FavoriteSaveAs" method="GET">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="My favorite tags" class="form-control form-control-lg" type="text" name="name" id="FavoriteTags" autocomplete="nope" required>
                        <label for="FavoriteTags">My favorite tags</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input class="btn btn-primary btn-lg w-100 h-100" type="submit" value="Add">
                    </div>
                </div>
            </form>
            <h2>Saved collections:</h2>
            {% if favorites %}
                <ul id="Favorites">
                    {% for item in favorites %}
                        {% set encoded_name = item|urlencode %}
                        <li>
                            <a href="favoritesDelete?name={{ encoded_name }} ">
                                <button type="button" class="btn-close" aria-label="Close"></button> 
                            </a>
                            <a href="favorites?name={{ encoded_name }} ">{{ item }}</a>
                        </li> 
                    {% endfor %}
                </ul>
            {% else %}
                <h3>You have not saved any favorites yet.</h3>
            {% endif %}
        </div>
    </div>
</div>


<script src="{{url_for('static', filename='replaceUnderscore.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='badgeAutomaticAssign.js')}}" type="text/javascript" charset="utf-8"></script>

<script src="{{url_for('static', filename='saveScroll.js')}}" type="text/javascript" charset="utf-8"></script>

{% endblock %}