{% extends 'base.html' %}

{% block title %}Tags AI{% endblock %}

{% block content %}
<!-- Youtube query-->
<div class="row">
    <div class="fixed-div d-none d-xxl-block">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link text-center" href="#YoutubeTags">TAGS AI</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link my-1" href="#YoutubeQuery">Querry</a>
                    <a class="nav-link my-1" href="#ChannelList">Channels</a>
                    <a class="nav-link my-1" href="#DownloadSet">Get Videos</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#Concat">&#x25CF; Concat</a>
                        <a class="nav-link ms-3 my-1" href="#DataSet">&#x25CF; Dataset</a>
                    </nav>
                    <a class="nav-link my-1" href="#CleanData">Clean Data</a>
                    <a class="nav-link my-1" href="#Accuracy">Accuracy</a>
                    <a class="nav-link my-1" href="#Generate">Generate</a>
                    <nav class="nav nav-pills flex-column">
                        <!--<a class="nav-link ms-4 my-1" href="#Tags">Tags</a>-->
                        <a class="nav-link ms-3 my-1" href="#LogisticRegression">&#x25CF; Logistic Regression</a>
                        <a class="nav-link ms-3 my-1" href="#RandomForest">&#x25CF; Random Forest</a>
                    </nav>
                </nav>
            </nav>
        </nav>
    </div>
</div>

<div class="container" id="YoutubeTags" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
    <div class="row">
        <div class="mx-auto text-center">
            <img class="img-fluid col-6" src="{{url_for('static', filename='logo.png')}}">
        </div>
    </div>
    <div class="row" id="YoutubeQuery">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Youtube Query</h1>
            <form id="taskForm" class="row g-2" action="/processSearchForYoutubeChannels" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="Cute Cats" class="form-control form-control-lg" type="text" name="YoutubeQuery" id="YoutubeQuery" required>
                        <label for="YoutubeQuery">Your youtube querry</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control form-control-lg" type="number" name="PagesNumber" id="PagesNumber" required>
                        <label for="PagesNumber">Load number of pages:</label>
                    </div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Search Channels">
            </form>
        </div>
    </div>

    <!-- Youtube channels list-->
    <div class="row" id="ChannelList">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Name Youtube Channels</h1>
            <form class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="YourYoutubeChannel" placeholder="https://www.youtube.com/@YourChannelName" class="form-control form-control-lg" type="text" id="text-input" placeholder="Enter text">
                        <label for="YourYoutubeChannel">https://www.youtube.com/@YourChannelName</label>
                    </div>
                </div>
                <div class="col-md">
                    <button class="add-button btn btn-primary btn-lg w100 h100" type="button">Add</button>
                </div>
            </form>
            <h2>Data:</h2>
            <ul>
                {% for item in channels %}
                    <li>
                        <button type="button" class="btn-close" aria-label="Close" data-index="{{ loop.index0 }}"></button> 
                        <a href=" {{ item[0] }} " target="_blank">{{ item[0].split('/')[-1] }}</a>
                        {% if item[0].split('/')[-1] in DownloadedChannels %} 
                            <span style="color: green;">(Downloaded)</span>
                        {% else %}
                            <span style="color: red;">(Not downloaded)</span>
                        {% endif %}
                    </li> 
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row" id="DownloadSet">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Download set</h1>
            <form class="row g-2" id="taskForm" action="/processSearchForYoutubeVideos" method="POST">
                <div class="col-5">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control" type="number" name="PagesNumber" id="PagesNumber" required>
                        <label for="PagesNumber">Search pages:</label>
                    </div>
                </div>

                <div class="form-check form-switch d-flex align-items-center h100">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="ReplaceCSV" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        &nbsp;Replace existing data
                    </label>
                </div>

                <input class="btn btn-primary btn-lg" type="submit" value="Download Video info">
            </form>
        </div>
    </div>

    <div class="row" id="Concat">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Concat channels</h1>
            <form class="row g-2" id="taskForm" action="/concatChannels" method="POST">
                <h2>List of downloaded data:</h2>
                <div>
                    {% for item in DownloadedChannels %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{ item }}" name="{{ item }}" checked>
                        <label class="form-check-label" for="{{ item }}">
                            {{ item }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w100" type="submit" value="Concat" name="Concat">
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w100" type="submit" value="Delete" name="Delete">
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="DataSet">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Dataset</h1>
            <button class="btn btn-outline-primary btn-lg w100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show/Hide
            </button>
            <div class="collapse" id="collapseExample">
                <table class="table table-striped">
                    {% for row in videos %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row" id="CleanData">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Clean data</h1>
            <form class="row g-2" id="taskForm" action="/processClean" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="4" class="form-control form-control-lg" type="number" name="DeleteColumnsWithOnly" id="DeleteColumnsWithOnly" value="3" required>
                        <label for="DeleteColumnsWithOnly">Delete Columns With Only:</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="2" class="form-control form-control-lg" type="number" name="deleteRowsWithOnly" id="deleteRowsWithOnly" value="2" required>
                        <label for="deleteRowsWithOnly">Delete Rows With Only:</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="2.0" class="form-control form-control-lg" type="number" name="OutlinerPrecise" id="OutlinerPrecise" value="2.0" required>
                        <label for="OutlinerPrecise">Outliner Precise:</label>
                    </div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Clean data">
            </form>
        </div>
    </div>

    <div class="row" id="Accuracy">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Calculate Accuracy</h1>
            <h4>Precissly predicted amount of views using only tags and channel name</h4>
            <form class="row g-2" id="taskForm" action="/processCheckForAccuracy" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="50" class="form-control form-control-lg" type="number" name="AcceptError" id="AcceptError" required>
                        <label for="AcceptError">Error margin:</label>
                    </div>
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg h100 w100" type="submit" value="Calculate error">
                </div>
            </form>
            <table class="table table-striped">
                {% for row in accuracy %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row" id="Generate">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Find tags</h1>
            <form class="row g-2" id="taskForm" action="/processTags" method="POST">
                <div class="col-md">
                    <div class="form-floating">
                        <input placeholder="25" class="form-control form-control-lg" type="number" name="Amount" id="Amount" value="25" required>
                        <label for="Amount">Amount:</label>
                    </div>
                </div>
                <div class="col-md">
                    <input class="btn btn-primary btn-lg w100 h100" type="submit" value="Generate tags">
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="Tags">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Result</h1>
            <h2>Logistic Regression</h2>
            <table id="LogisticRegression" class="table table-striped">
                {% for row in resultsLogisticRegression %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <h2>Random Forest</h2>
            <table id="RandomForest" class="table table-striped">
                {% for row in resultsRandomForest %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}