{% extends 'base.html' %}

{% block title %}Busy{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="mx-auto borderRound">
            <h1>There is other process already calculated in the background</h1>
            <br />
            <button id="backButton" onclick="window.location.href = '/advanced';" class="btn btn-primary btn-lg">Back</button>
        </div>
    </div>
</div>
{% endblock %}