{% extends 'base.html.j2' %}

{% block title %}Processing...{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="mx-auto borderRound">
            <h1 class="text-center">Please wait</h1>
            <h5 class="text-center">This can take some hours...</h5>
            <h3 id="status"></h3>
            <div id="LoadingBar" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <h5 id="errorContent"  style="color:orange; display: none;">
                Warnings:
                <br />
            </h5>
            <div id="progress" class="text-center"></div>
        </div>
    </div>  
</div>
<script src="{{url_for('static', filename='processingAll.js')}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}