<!DOCTYPE html>
<html>
<head>
    <title>Tags AI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='channelsAdd.js')}}" type="text/javascript" charset="utf-8"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/advanced"><button>More advanced options</button></a><br><br>
        <div class="row">
            <div class="mx-auto">
                <img class="img-fluid" src="{{url_for('static', filename='logo.png')}}">
            </div>
        </div>
        <div class="row">
            <div class="mx-auto borderRound">
                <h1 class="text-center">Fill form:</h1>
                <form id="taskForm" action="/processAll" method="POST">
                    <label for="YoutubeQuery">Youtube Query</label>
                    <input type="text" name="YoutubeQuery" id="YoutubeQuery" required><br><br>
                    
                    <label for="YourChannel">Your Channel</label>
                    <input type="text" name="YourChannel" id="YourChannel" placeholder="Your Channel" required><br><br>

                    <label for="PagesNumberForQuerry">Pages number for querry</label>
                    <input type="number" name="PagesNumberForQuerry" id="PagesNumberForQuerry" value="50" required><br><br>

                    <label for="VideosNumberPerChannel">Videos number per channel</label>
                    <input type="number" name="VideosNumberPerChannel" id="VideosNumberPerChannel" value="50" required><br><br>

                    <label for="DeleteColumnsWithOnly">Delete Columns With Only:</label>
                    <input type="number" name="DeleteColumnsWithOnly" id="DeleteColumnsWithOnly" value="4" required><br><br>

                    <label for="DeleteRowsWithOnly">Delete Rows With Only:</label>
                    <input type="number" name="DeleteRowsWithOnly" id="DeleteRowsWithOnly" value="2" required><br><br>

                    <label for="OutlinerPrecise">Outliner Precise:</label>
                    <input type="number" name="OutlinerPrecise" id="OutlinerPrecise" value="2.0" required><br><br>

                    <label for="AcceptError">Round error to:</label>
                    <input type="number" name="AcceptError" id="AcceptError" value="50" required><br><br>

                    <label for="PrintAmountOfTags">Amount tags to be printed:</label>
                    <input type="number" name="PrintAmountOfTags" id="PrintAmountOfTags" value="25" required><br><br>
                
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
