[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask_socketio = "*"
yt_dlp = "*"
numpy = "*"
pandas = "1.5.3"
scikit-learn = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
